language: elixir

elixir:
  - 1.6

otp_release:
  - '20.2.4'

addons:
  postgresql: '9.4'

services:
  - postgresql

before_script:
  - yarn
  - mix ecto.create
  - mix ecto.migrate

script:
  - mix test --cover
  - mix format --check-formatted
