version: 2
jobs:
  build:
    docker:
      - image: elixir:1.6.2-node
      - image: postgres:9.4.1
        environment:
          POSTGRES_USER: postgres
    steps:
      - checkout
      - run: yarn
      - run: mix local.hex --force
      - run: mix local.rebar
      - run: mix deps.get
      - run: mix ecto.create
      - run: mix ecto.migrate
      - run: mix test --cover
      - run: mix run priv/repo/seeds.exs
      - run: mix format --check-formatted mix.exs "lib/**/*.{ex,exs}" "test/**/*.{ex,exs}"
      - run: ./node_modules/.bin/elm-format --validate web/elm/src
